<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
    <div class="card">
        <div class="card-header primary-color white-text">AWS uploader </div>
        <div class="card-block"> 

        <form>
          
            {% for param in sorted(FeatureParams['data'])%}
            {% set row = FeatureParams['data'][param]%}
            <div class="form-group ">
                <label>{{param}}</label> 
                <div class="input-group">
                {% if row['type'] == 'static' %}
                    <input type="text" class="form-control" disabled value="{{row['value']}}" id="{{param}}" >
                {% elif row['type'] == 'preset'%}
                    <input type="text" class="form-control aws-uploader-parameter-preset" id="{{param}}" {% if 'value' in row %}value="{{row['value']}}" {% end %}>
                      <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" onclick="UpdateFeature('{{param}}')"><i class="fa fa-upload" aria-hidden="true"></i></button>
                      </span>
                {% elif row['type'] == 'data'%}
                    <input type="text" class="form-control aws-uploader-parameter-source" id="{{param}}"  {% if 'value' in row %}value="{{row['value']}}" {% end %}>
                      <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" onclick="UpdateFeature('{{param}}')" ><i class="fa fa-upload" aria-hidden="true"></i></button>
                      </span>
                {% end %}
                </div>
                <small class="form-text text-muted">{{row}}</small>
            </div>
            {% end %}
            <button type="button" class="btn btn-primary" onclick="UpdateAWSuploader()">Submit</button>

        </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    function UpdateFeature(feature){
        var value = document.getElementById(feature).value;

        console.log(feature);
        console.log(value);
        
        var sendCtrl = new ROSLIB.Topic({
            ros : ros,
            name : '/aws_weatherudnerground/update_parameters',
            messageType : 'std_msgs/String'
        });

        var msg = new ROSLIB.Message({
            data: "{'id': '"+String(feature)+"', 'source':'"+String(value)+"'}"
        });
        sendCtrl.publish(msg);

    }
    
    function UpdateAWSuploader() {

        console.log("Hi");
        var vstupy_source = document.getElementsByClassName("aws-uploader-parameter-source");
        var vstupy_preset = document.getElementsByClassName("aws-uploader-parameter-preset");

        //console.log(vstupy_preset);
        //console.log(vstupy_source);/
        var paramVal = null;

        var param = new ROSLIB.Param({

        });

        /*
        var sendCtrl = new ROSLIB.Topic({
            ros : ros,
            name : '/aws_weatherudnerground/update_parameters',
            messageType : 'std_msgs/String'
        });
     


        for (var i = vstupy_preset.length - 1; i >= 0; i--) {
            var element = vstupy_preset[i]
            console.log(element)
            if (typeof element != "undefined"){
                console.log(element.value)
                console.log(element.id)
                var msg = new ROSLIB.Message({
                    data: "{'id': '"+String(element.id)+"', 'data':'"+String(element.value)+"'}"
                });
                sendCtrl.publish(msg);
            } 
        }

        for (var i = vstupy_source.length - 1; i >= 0; i--) {
            var element = vstupy_preset[i]
            console.log(element)
            if (typeof element != "undefined"){
                console.log(element.value)
                console.log(element.id)
                var msg = new ROSLIB.Message({
                    data: "{'id': '"+String(element.id)+"', 'data':'"+String(element.value)+"'}"
                });
                sendCtrl.publish(msg);
            }
        }*/
    }

</script>