
<script type="text/javascript" src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script type="text/javascript" src="/static/mjpegcanvasjs/build/mjpegcanvas.min.js"></script>

<div class="col-sm-12">
    <div class="card">
        <h3 class="card-header">Camera preview</h3>
        <div class="card-block" id="mjpeg_containter" style="padding: 0px;">
            <dir>
              <div id="mjpeg"></div>
            </dir>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-6 ">
    <div class="card">
        <h3 class="card-header">Camera control</h3>
        <div class="card-block">
            {% for config in sorted(FeatureParams['config'])%}
                <div class="form-group">
                    <label>{{config}}</label>
                    {% set choices = FeatureParams['config'][config]['choices']%}
                    {% if len(choices) > 0%}
                    <div class="input-group">
                        <select class="custom-select form-control" id="select_{{config}}">
                            {% try %}
                                {%for option in choices%}
                                    <option id="{{option}}" {% if option == FeatureParams['config'][config]['value']%}selected{%end%}>{{option}}</option>
                                {% end %}
                            {% except %} Error {%end%}
                        </select>
                        <span class="input-group-btn">
                                <button class="btn btn-secondary SetNewConfig" type="button" id="{{config}}" ><i class="fa fa-upload" aria-hidden="true" distabled></i></button>
                        </span>
                    </div>
                    {% else %}
                        <input type="text" value="{{FeatureParams['config'][config]['value']}}" class="form-control" disabled>
                    {%end%}
                </div>
            {% end %}

        </div>
    </div>
</div>


<div class="col-sm-6">
    <div class="card">
        <h3 class="card-header">Camera</h3>
        <div class="card-block">

            {#
            <div class="form-group">
                <label for="gain">Gain</label>
                <div class="input-group">
                    <input type="number" id="gain" class="form-control" min="4" max="63" step="0.1" value="50">
                    <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" id="btn_gain" ><i class="fa fa-upload" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="exposure">Expousure</label>
                <div class="input-group">
                    <input type="number" id="exposure" class="form-control" min="1" max="300000" step="1" value="127">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" id="btn_exposure" ><i class="fa fa-upload" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>#}

            <div class="form-group">
                <button class="btn btn-secondary" type="button" id="btn_capture" style="width: 100%;">Capture</button>
            </div>

            <div class="form-group">
              <input type="checkbox" name="loop" id="chb_loop"> Loop
            </div>

            <div class="form-group">
              <input type="checkbox" name="loopcapture" id="chb_capturing"> Loop capture
            </div>


        </div>
    </div>
</div>
</div>


<script type="text/javascript">


var sendCtrl = new ROSLIB.Topic({
    ros : ros,
    name : '/arom/camera/controll',
    messageType : 'std_msgs/String'
});


var sendConfig = new ROSLIB.Topic({
    ros : ros,
    name : '/arom/camera/config',
    messageType : 'arom/CameraParam'
});


$('.SetNewConfig').on('click', function() {
    //alert("aaa");
    select = document.getElementById("select_"+this.id)
    console.log(select.options[select.selectedIndex].value);

    var msg = new ROSLIB.Message({
        param: String(this.id),
        value: String(select.options[select.selectedIndex].value)
        //value: String(select.selectedIndex)
    });
    sendConfig.publish(msg);
});
    

$('#btn_exposure').on('click', function() {
    console.log("function, #btn_exposure");

    var msg = new ROSLIB.Message({
        data: 'setExpo ' + document.getElementById('exposure').value
    });
    sendCtrl.publish(msg);
});

$('#btn_gain').on('click', function() {
    console.log("function, #btn_gain");

    var msg = new ROSLIB.Message({
        data: 'setGain ' + document.getElementById('gain').value
    });
    sendCtrl.publish(msg);
});

$('#btn_capture').on('click', function() {
    console.log("function, #btn_gain");

    var msg = new ROSLIB.Message({
        data: 'capture'
    });
    sendCtrl.publish(msg);
});

$('#chb_loop').on('click', function() {
    console.log("function, #btn_gain");
    if (document.getElementById('chb_loop').checked) 
        {
            var msg = new ROSLIB.Message({
                data: 'streamStart'
            });
            sendCtrl.publish(msg);

        }else{
            var msg = new ROSLIB.Message({
                data: 'streamStop'
            });
            sendCtrl.publish(msg);

        }

});

$('#chb_capturing').on('click', function() {
    console.log("function, change thread capturing");
    if (document.getElementById('chb_capturing').checked) 
        {
            var msg = new ROSLIB.Message({
                data: 'startCapture'
            });
            sendCtrl.publish(msg);

        }else{
            var msg = new ROSLIB.Message({
                data: 'stopCapture'
            });
            sendCtrl.publish(msg);

        }

});


 var viewer = new MJPEGCANVAS.Viewer({
      divID : 'mjpeg',
      host : window.location.hostname,
      width : document.getElementById("mjpeg_containter").offsetWidth,
      height : document.getElementById("mjpeg_containter").offsetWidth/16*9,
      topic : '/arom/camera/image',
    });


</script>