<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
<div class="card">
	{% set id=FeatureParams.get('id', 0) %}
    <div class="card-header primary-color white-text">{{FeatureParams.get('name')}}</div>
    <div class="card-block">
	
	<div class="btn-group">
		<button type="button" class="btn btn-outline-success b-set-{{id}}" onclick="sendMagComand(, )">Sepnout</button>
		<button type="button" class="btn btn-outline-danger b-uset-{{id}}">Uvolnit</button>
	</div>
           
</div>
</div>



<script type="text/javascript">
	

var sendCtrl_{{FeatureParams['id']}} = new ROSLIB.Topic({
    ros : ros,
    name : '{{FeatureParams['addr']}}',
    messageType : 'std_msgs/String'
});

function send_{{id}}() {
    var msg = new ROSLIB.Message({
        data:  document.getElementById("num-{id}}").value
    });
    sendCtrl_{{id}}.publish(msg);
};



</script>