<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
<div class="card">
    <div class="card-header primary-color white-text">{%if "name" in FeatureParams%}{{FeatureParams['name']}}{%else%}SendNum{%end%}</div>
    <div class="card-block">
		
        <form action="javascript:void(0)">
		<input type="number" class="form-control" id="num-{{FeatureParams['id']}}" value=0 style="width: 100%;" ></input>
        <br>
		<button onclick="send_{{FeatureParams['id']}}()" type=submit class="btn btn-primary" style="width: 100%;">Send</button></form>

           
</div>
</div>


<script type="text/javascript">

var sendCtrl_{{FeatureParams['id']}} = new ROSLIB.Topic({
    ros : ros,
    name : '{{FeatureParams['addr']}}',
    messageType : 'std_msgs/String'
});

function send_{{FeatureParams['id']}}() {
    var msg = new ROSLIB.Message({
        data:  document.getElementById("num-{{FeatureParams['id']}}").value
    });
    sendCtrl_{{FeatureParams['id']}}.publish(msg);
};

</script>

